<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview treeview-single">
                <a href="#List/Customer">
                    <i class="ma material-icons">how_to_reg</i>
                    <span class="treeview-single"> Customers</span>
                </a>
            </li>
            <li class="treeview treeview-single">
                <a href="#List/Lead">
                    <i class="ma material-icons">assignment_ind</i>
                    <span class="treeview-single"> Leads</span>
                </a>
            </li>
            <li class="treeview treeview-single">
                <a href="#List/Contact">
                    <i class="ma material-icons">contacts</i>
                    <span class="treeview-single"> Contacts</span>
                </a>
            </li>
            <li class="treeview treeview-single">
                <a href="#List/Farm Profile">
                    <i class="ma material-icons">edit_location</i>
                    <span class="treeview-single"> Farm Profiles</span>
                </a>
            </li>  
            <li class="treeview treeview-single">
                <a href="#List/Egg Shipment Inspection">
                    <i class="ma material-icons">find_in_page</i>
                    <span class="treeview-single"> Egg Shipment Reports</span>
                </a>
            </li>               
            <li class="treeview treeview-single">
                <a href="#modules/CRM">
                    <i class="ma material-icons">settings</i>
                    <span class="treeview-single"> Settings</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="overlay">
    <div>