<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#pond-sample-tool" data-toggle="tooltip" data-placement="right" title="Pond Sample Tool">
                    <i class="fa fa-balance-scale"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#feed-tool" data-toggle="tooltip" data-placement="right" title="Feed Tool">
                    <i class="fa fa-spoon"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Pond%20Sample/List" data-toggle="tooltip" data-placement="right" title="Pond Samples">
                    <i class="fa fa-list"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#modules/Farm Manager" data-toggle="tooltip" data-placement="right" title="Farm Manager">
                    <i class="fa fa-anchor"></i>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="overlay">
    <div>
